@{
    ViewData["Title"] = "Home Page";
    Layout = "_Unlocked";
}

<link rel="stylesheet" href="~/css/Home/Index.css" />

<style>
    .Home {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        font-size: 36px;
    }
</style>

<div class="jumbotron">
    <h1>Welcome to AWS Employee Rewards</h1>
    <p>Recognise and reward your employees for their hard work and dedication.</p>
    <a href="/rewards" class="btn btn-primary">Take A Look</a>
</div>